<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Presets</key>
	<dict>
		<key>iOS Audio Mono</key>
		<dict>
			<key>container</key>
			<string>CAF</string>
			<key>compression</key>
			<string>AAC</string>
			<key>strategy</key>
			<string>VBR</string>
			<key>bitrate</key>
			<integer>192000</integer>
			<key>mono</key>
			<true/>
		</dict>
		<key>iOS Audio</key>
		<dict>
			<key>container</key>
			<string>CAF</string>
			<key>compression</key>
			<string>AAC</string>
			<key>strategy</key>
			<string>VBR</string>
			<key>bitrate</key>
			<integer>192000</integer>
			<key>mono</key>
			<false/>
		</dict>
		<key>Apple Lossless</key>
		<dict>
			<key>container</key>
			<string>m4a</string>
			<key>compression</key>
			<string>Apple Lossless</string>
			<key>bitrate</key>
			<integer>192000</integer>
			<key>mono</key>
			<false/>
		</dict>
		<key>iTunes Plus</key>
		<dict>
			<key>container</key>
			<string>m4a</string>
			<key>compression</key>
			<string>AAC</string>
			<key>strategy</key>
			<string>CBR</string>
			<key>bitrate</key>
			<integer>256000</integer>
			<key>mono</key>
			<false/>
		</dict>
		<key>Better Than iTP</key>
		<dict>
			<key>container</key>
			<string>m4a</string>
			<key>compression</key>
			<string>AAC</string>
			<key>strategy</key>
			<string>VBR</string>
			<key>bitrate</key>
			<real>256000</real>
			<key>mono</key>
			<false/>
		</dict>
	</dict>
	<key>FileTypes</key>
	<array>
		<dict>
			<key>command</key>
			<string>m4af</string>
			<key>human</key>
			<string>m4a</string>
			<key>container</key>
			<string>m4a</string>
			<key>compressionTypes</key>
			<array>
				<dict>
					<key>human</key>
					<string>AAC</string>
					<key>actual</key>
					<string>aac</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Apple Lossless</string>
					<key>actual</key>
					<string>alac</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>caff</string>
			<key>human</key>
			<string>CAF</string>
			<key>container</key>
			<string>caf</string>
			<key>compressionTypes</key>
			<array>
				<dict>
					<key>human</key>
					<string>8 Bit</string>
					<key>actual</key>
					<string>I8</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Big Endian 16 Bit</string>
					<key>actual</key>
					<string>BEI16</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Big Endian 24 Bit</string>
					<key>actual</key>
					<string>BEI24</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Big Endian 32 Bit</string>
					<key>actual</key>
					<string>BEI32</string>
				</dict>
				<dict>
					<key>human</key>
					<string>AAC</string>
					<key>actual</key>
					<string>aac</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Apple Lossless</string>
					<key>actual</key>
					<string>alac</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>Sd2f</string>
			<key>human</key>
			<string>Sd2f</string>
			<key>container</key>
			<string>sd2</string>
			<key>compressionTypes</key>
			<array>
				<dict>
					<key>human</key>
					<string>8 Bit</string>
					<key>actual</key>
					<string>I8</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Big Endian 16 Bit</string>
					<key>actual</key>
					<string>BEI16</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Big Endian 24 Bit</string>
					<key>actual</key>
					<string>BEI24</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Big Endian 32 Bit</string>
					<key>actual</key>
					<string>BEI32</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>WAVE</string>
			<key>human</key>
			<string>wav</string>
			<key>container</key>
			<string>wav</string>
			<key>compressionTypes</key>
			<array>
				<dict>
					<key>human</key>
					<string>8 Bit</string>
					<key>actual</key>
					<string>UI8</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Little Endian 16 Bit Integer</string>
					<key>actual</key>
					<string>LEI16</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Little Endian 24 Bit Integer</string>
					<key>actual</key>
					<string>LEI24</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Little Endian 32 Bit Integer</string>
					<key>actual</key>
					<string>LEI32</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Little Endian 32 Bit Float</string>
					<key>actual</key>
					<string>LEF32</string>
				</dict>
				<dict>
					<key>human</key>
					<string>Little Endian 64 Bit Float</string>
					<key>actual</key>
					<string>LEF64</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>sggMembers</key>
	<array>
		<string>Khris</string>
		<string>Michael</string>
		<string>Sam</string>
		<string>Cody</string>
		<string>Kurt</string>
		<string>Scott</string>
	</array>
</dict>
</plist>
